  .section-header {
    width: 100%;
    height: 110vh;
    background-image: url(/imagens-atualizadas/captainmarvelheader.jpg);
    background-size: cover;
  }

  .catalog-title {
    width: 60%;
    margin: 27% 15%;
  }
  .catalog-title img {
    width: 65%;
  }