  .contact-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #555;
    width: 80%;
    height: 800px;
    margin: 0 auto;
  }
  
  .contact-main .form-text {
    width: 70%;
    margin: 0 auto 5%;
  }

  .form-text p {
    text-align: center;
  }


