  .section-header {
    height: 110vh;
    background-image: url(/imagens-atualizadas/contatoheader.jpg);
    background-size: cover;
  }
  
  .title-contact {
    margin: 25% 0 0 12%;
  }
  
  .title-contact img{
    width: 40%;
  }  