  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0;
  }

  .logo img {
    margin: 5% 0 0 40px;
    width: 50%;
  }

  .nav-header a {
    transition: all 1s;
    color: #fff;
    border: 0;
    margin-right: 40px;
  }
  .nav-header a:hover {
    background-color: #ff6b57;
    color: #000;
    padding: 8px;
    border-radius: 30px;
    box-shadow: 0 8px 8px 0 rgb(0, 0, 0, 0.5);
  }

  .header-border-bottom:after {
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #ff6b57;
    margin: 3px 0 0 4%;
  }
  .header-catalog-border-bottom:after {
    margin-left: 36.5%;
  }
  .header-contact-border-bottom:after {
    margin-left: 73%;
  }

