  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    align-items: center;
    padding: 0 5vw;
  }

  .logo {
    width: 200px;
  }

  .nav-header {
    max-width: 65%;
  }

  .container-nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    height: 56px;
    justify-items: center;
    align-items: center;
  }

  .nav-header a {
    grid-column: span 1;
    border: 0;
    color: var(--white);
    padding: 6px;
  }
  .nav-header .header-a:hover {
    transition: all 0.5s;
    background-color: var(--light-red);
    color: var(--black);
    border-radius: 25px;
    box-shadow: -2px 4px 0 1px rgb(0, 0, 0, 0.25);
  }

  /* Responsive */
  
  @media screen and (max-width: 300px) {
    .container-logo {
      margin-bottom: 16px;
    }

    .container-nav-list {
      display: flex;
      flex-direction: column;
    }

    .container-nav-list  .header-a {
      border: 2px solid;
      border-radius: 30px;
      animation: animate-border 4s linear infinite;
    }
    @keyframes animate-border {
      0%{
        border-color: var(--light-red);
      }
      50%{
        background-color: var(--dark-red);
      }
      100%{
        border-color: var(--light-red);
      }
    }
  }

  @media only screen and (max-width: 600px) {    
    .header {
      flex-direction: column;
      height: 185px;
    }

  .container-logo {
    margin-top: 24px;
  }

    .nav-header {
      max-width: initial;
    }
  }

  @media only screen and (min-width: 1700px) {
    .container-logo {
      margin-top: 50px;
    }
    
    .logo {
      width: 300px;
    }
  }


