  .text { 
    width: 100%;
    grid-column: 2/3;
    padding: 8%;
  } 
  .text p {
    padding-bottom: 5%;
  }

    @media screen and (max-width: 1300px) {
    .background-thor .text {
      grid-column: 1/2;
    }
    
    .background-thor .text p {
      font-size: 20px;
      margin-top: -40%;
    }

    .background-toys .text p {
      font-size: 20px;
    }
  }