  body {
    font-size: 32px;
    width: 100%;
  }

  .app-layout {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-layout {
    display: flex;
    flex-direction: column;
  }


  section.background-spider-man {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-image: url(
      /imagens-atualizadas/spidermanheader.jpg
      );
  }

  .title_spider-man {
    width: 50%;
  }

  .title_spider-man img {
    margin: 25% 10%;
    width: 50%;
  }


  section.background-thor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url(
      /imagens-atualizadas/thor_header.jpg
      );
    color: #fff;
  }

  .background-thor .subtitle {
    grid-column: 1/3;
  }

  .background-thor .subtitle:after {
    background-color: #fff;
  }

  .background-thor .text {
    grid-column: 2/3;
  }


  section.background-toys {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .background-toys .subtitle {
    grid-column: 1/3;
  }

  .background-toys .img {
    grid-column: 1/2;
  }

  .background-toys .img img {
    width: 100%;
  }
  
  .background-toys .text {
    grid-column: 2/3;
  }

  .background-toys .button {
    width: 25%;
    padding: 2.5% 1.5%;
    object-position: left;
  }

  @media screen and (max-width: 1300px) {
    .background-thor .text {
      grid-column: 1/2;
    }
    
    .background-thor .text p {
      font-size: 20px;
      margin-top: -40%;
    }

    .background-toys .text p {
      font-size: 20px;
    }
  }