  .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    justify-content: center;
    width: 80%;
    margin: 0 auto 64px;
    gap: 32px;
  }
  .card-itens {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 1px 2px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 24px;
    gap: 16px;
  }
  .card-img {
    width: 80%;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-itens .material-symbols-outlined:hover {
    cursor: pointer;
    color: var(--dark-red);
  }

  .container-button-favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-btn {
    width: 50%;
  }

  .icon-favorite {
    font-size: 0.8em;
  }

  /* Responsive */

  @media only screen and (min-width: 1650px) {
    .catalog {
      grid-template-columns: repeat(3, 400px);
      gap: 48px;
    }

    .card-itens {
      padding: 32px;
    }
  }